# Skopiuj ten plik, zmień nazwę na .env i uzupełnij poniższe dane!

# Ustawienia bazy danych PostgreSQL (dostosuj do swojego lokalnego środowiska)
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=twoje_haslo_do_bazy
DB_HOST=localhost
DB_PORT=5432

# Sekretny klucz do tokenów JWT (wymyśl dowolny, trudny ciąg znaków)
SECRET_KEY=zmien_ten_klucz_na_swoj_wlasny_123!@#

MAIL_USERNAME=test_user
MAIL_PASSWORD=test_haslo